<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened fixedInViewport>
    <mat-list>
      <div mat-subheader>Chart Visualization Types</div>
      <mat-list-item (click)="onMenuClick(chartConfig)" *ngFor="let chartConfig of chartConfigs">
        <img mat-list-icon class="side-menu-icon" [src]="chartConfig.icon" [alt]="chartConfig.name">
        <div mat-line>{{ chartConfig.name }}</div>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <iapps-menu (onOpenDrawer)="onOpenDrawer($event)"></iapps-menu>
    <iapps-visualization></iapps-visualization>
  </mat-drawer-content>
</mat-drawer-container>

<iapps-ngx-drawer
  (cancel)="onInfoClose($event)"
  [sourceCodeConfig]="sourceCodeConfig"
  [isInfoOpen]="isInfoOpen"
></iapps-ngx-drawer>
