<div class="mat-elevation-z3 mat-typography d-print-none">
  <div
    class="d-flex justify-content-between align-items-center p-3 mat-typography"
  >
    <div class="d2-menu-container d-print-none">
      <div class="left-header">
        <a href="#" class="d2-logo" matRipple>
          <img [src]="appIcon" alt="UDSM | DHIS | D2 Visualizer"
        /></a>
        <div class="d2-header">
          <a href="/">UDSM | DHIS2 | D2 Visualizer | Demo</a>
        </div>
      </div>
      <div class="right-header mat-typography">
        <div class="banner d2-header" *ngIf="selectedMenuConfig">
          {{ selectedMenuConfig }} |
        </div>
        <div class="d2-header">
          <a href="/">Visualization Types </a>
        </div>
        <div>
          <mat-select
            [value]="selectedMenuConfig"
            (selectionChange)="onSelectionChange($event.value)"
          >
            <mat-option
              *ngFor="let menuConfig of menuConfigs"
              value="{{ menuConfig.name }}"
              >{{ menuConfig.name }}</mat-option
            >
          </mat-select>
        </div>
      </div>
    </div>
  </div>
</div>
